$dark_color: #2C3E50;
$primary_color:#19899F;
$combine_color:#B7950B;
$secondary_color: #BA41A8;
$secondary_light_color: #d3b5e0;
$opacity_color:gainsboro;

$primary_font: monospace;
$secondary_font:Verdana, Geneva, Tahoma, sans-serif;
$optional_font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 


