body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: gainsboro;
  font-size: 18px;
}

table{
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 10px;
  width: 90%;
  border: #19899F solid 1px; 
}

thead{
  background-color: #188499;
  height: 40px;
  color: white;
  text-align: center;

}


td{
  padding: 20px;
}

.partialPrice{
  font-weight: bold;
  color:#BA41A8;
  text-align: right;
}

.total{
  font-weight: bold;
  background-color: #ece7e7;
  color:#BA41A8;
  padding: 5px;
  padding-right: 15px;
}

#empty{
  display: block;
  text-align: center;
  margin-top: 50px;
  color:#146e80;
  font-weight: bold;
}

.remove{
  width: 110px;
  font-size: 16px;
  cursor: pointer;
  color:#11697a;
  border: 1px solid;
}

.remove:hover{
  color:#902280;
}

.editQuantity{
  width: 50px;
  height: 20px;
}

@media (min-width: 481px) and (max-width: 700px) {

  #cartTable{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
    width: 90%;
    font-size: 15px;
    border: #19899F solid 1px; 
  }

  .sectionProp{
    width: 100%;
    display: flex;
    justify-content:space-between;
    padding: 20px;
    margin-bottom: 15px;
  }

  .remove{
    width: 80px;
    font-size: 13px;
  }

  .propName{
    display: block;
    font-weight: bold;
    background-color: #188499;
    color:white;
    padding: 5px;
    padding-left: 10px;
  }

}

@media (min-width: 320px) and (max-width: 480px) {

  #cartTable{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 97%;
    font-size: 15px;
    border: #19899F solid 1px; 
  }

  .sectionProp{
    width: 100%;
    display: flex;
    justify-content:space-between;
    padding: 20px;
    margin-bottom: 15px;
  }

  .remove{
    width: 40px;
    font-size: 14px;
  }

  .propName{
    display: block;
    font-weight: bold;
    background-color: #188499;
    color:white;
    padding: 5px;
    padding-left: 10px;
  }

}
