body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: gainsboro;
  font-size: 18px;
}

table{
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 10px;
  width: 90%;
  border: #19899F solid 1px; 
}

thead{
  background-color: #188499;
  height: 40px;
  color: white;
  text-align: center;

}

th{
  border: white 1px solid;
}

td{
  padding: 20px;
}

.partialPrice{
  font-weight: bold;
  color:#BA41A8;
  text-align: right;
}

.total{
  font-weight: bold;
  background-color: #ece7e7;
  color:#BA41A8;
}

#empty{
  display: block;
  text-align: center;
  margin-top: 50px;
  color:#146e80;
  font-weight: bold;
}

.remove{
  width: 110px;
  font-size: 16px;
  cursor: pointer;
  color:#11697a;
  border: 1px solid;
}

.remove:hover{
  color:#902280;
}

.editQuantity{
  width: 40px;
  height: 20px;
}
