body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#carouselExampleCaptions{
    width: 40%;
    height: 51%;
    margin: 35px;
    align-self:center;
}

#principal{
    display: flex;
    align-items: center;
}

.dropdown-item{
    color: white;
}

.card{
    margin: 20px;
    flex-basis: 350px;
    border-style: dashed;
    border-color:rgb(145, 103, 116)
}  

.blockquote{
    font-size: 17px;
}

.card-header{
    font-size: 15px;
    color: white;
}

.btn{
    background-color: teal;
    color: white;
}

.btn:hover{
    background-color: rgb(18, 158, 158);
    color: white;
}

.carrImg{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

h4{
    background-color: rgba(16, 141, 179, 0.6);
    color: white  ;
    font-size: 20px;
    height: 30px;
}

#myForm{
    border: solid rgb(23, 172, 172) 1px; 
    background-color: rgba(248, 244, 244, 0.308);
    width: 35%; 
    height: 50%;
    padding: 10px;
    margin-top: 35px;
}

#titleForm{
    text-align: center; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 19px; 
    color:black;
}

#promocion{
    text-align: center; 
    font-weight: bold; 
    font-size: larger; 
    color: teal;
    margin-top: 25px;
}

#promocion span{
    font-size:medium; 
    font-weight: normal;
}

.card{
    margin: 8px;
}

.card-header{
    background-color: #AF7AC5;
}

.card-header img{
    width:12%;
    height:80%;
    margin-right: 5px;
}

blockquote p{
    font-size: 16px;
    text-align: justify;
}

.message{
    display: none;
    background-color:#19899F;
    color: white;
    font-weight: bold;
    font-size: 17px;
    opacity: 0;
    position: fixed;
    right: 3px;
    top: 55px;
    padding: 10px 20px;
    transition: ease-in opacity 1s;
}
  
.show{
    display: inline;
    opacity:1;
}

@media (min-width: 1025px) and (max-width: 1280px) {

    #myForm{
        font-size: 16px;
        width: 35%;
    }

    #titleForm{
        font-size: 19px; 
    }

    .carrImg{
        width: 100%;
    }

    h4{
        font-size: 18px;
    }

    #promocion{
        font-size: 18px; 
    }

    .blockquote p{
        font-size: 15px;
    }

    .card{
        margin: 5px;
    }

    .btn{
        font-size: 15px;
    }
    
    .card-header div{
        font-size: 14px;
    }

    footer{
        font-size: 15px;
    }

    #footerTitle{
        font-size: 16px;
    }

    .message{
        font-size: 15px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {

    #myForm{
        font-size: 15px;
        width: 40%;
    }

    #titleForm{
        font-size: 18px; 
    }

    .carrImg{
        width: 100%;
    }

    h4{
        font-size: 15px;
    }

    .btn{
        font-size: 14px;
    }

    #promocion{
        font-size: 16px; 
    }

    .card{
        margin: 4px;
    }

    #cards {
        flex-wrap: wrap;
    }

    .blockquote p{
        font-size: 15px;
    }

    footer{
        font-size: 15px;
    }

    #footerTitle{
        font-size: 15px;
    }

    .card-header div{
        font-size: 15px;
    }

    .message{
        font-size: 14px;
      }

}

@media (min-width: 481px) and (max-width: 767px) {
    #cards {
        flex-wrap: wrap;
    }

    #myForm{
        width: 77%;
        align-self: center;
        font-size: 15px;
    }

    #principal {
        flex-direction: column;
    }

    #carouselExampleCaptions{
        width: 75%;
    }

    #titleForm{
        font-size: 18px; 
    }

    #promocion{
        font-size: 15px; 
    }

    #promocion span{
        font-size: 14px; 
        
    }

    .card{
        margin: 8px;
    }

    .blockquote p{
        font-size: 14px;
    }

    .card-header div{
        font-size: 14px;
    }

    .btn{
        font-size: 14px;
    }

    footer{
        font-size: 14px;
    }
    
    #footerTitle{
        font-size: 14px;
    }

    .message{
        font-size: 13px;
      }
}

@media (min-width: 320px) and (max-width: 480px) {

    #principal {
        flex-direction: column;
    }

    #carouselExampleCaptions{
        width: 90%;
    }

    #myForm{
        width: 85%;
        align-self: center;
        font-size: 16px;
    }

    #titleForm{
        font-size: 16px; 
    }

    .btn{
        font-size: 14px;
    }

    #promocion{
        font-size: 16px; 
    }

    #promocion span{
        font-size: 15px; 
    }

    #cards {
        flex-wrap: wrap;
    }

    .blockquote p{
        font-size: 15px;
    }

    .card-header div{
        font-size: 15px;
    }

    .card{
        margin: 8px;
    }

    footer{
        font-size: 14px;
    }
    
    #footerTitle{
        font-size: 14px;
    }

    .message{
        font-size: 12px;
      }

}


  
