/*Barra de navegación*/

nav{
    background-color:#2C3E50 ;
    font-family:monospace;
    width: 100%;
    height: 50px;
    padding: 0px 20px 0 0px;
    display: flex;/*Para que los elementos hijos de nav se comporten de manera flexible*/
    flex-direction:row; /*Organiza los items en fila*/
    justify-content:space-evenly;  /*Justifica el contenido a lo largo del elemento*/
    align-items:center;  /*Alineación vertical de los items*/
}

.parrafos-home{
    color: white;
    text-decoration: none;
    font-size: 21px;
}

/*Imagen de portada que abarca el 70% de la pantalla usando  background-image en css*/
#image{
    background-image: url("../images/buda.jpg");
    background-repeat: no-repeat;
    background-position-x:center center;
    background-size:100% 100%;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content:center; /*Alinea horizontal*/
    align-items: center;  /*Alinea vertical*/
}  

/*Texto en la imagen de portada*/

#image span:nth-of-type(1){
    background-color:rgba(255,255,255, 0.8); 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 37px; 
    color: #BA41A8;
    font-weight: bold;
}

#image span:nth-of-type(2){
    background-color:rgba(25,137,159, 0.7); 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 28px; 
    color:white ; 
}

/*Cards*/

#cardsContainer{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content:space-around;
    width: 95%;
}

.card{
    margin: 10px;
    background-color:#F5F5F5;
    display: flex;
    flex-direction: column;
    height: 320px;
    padding-top: 1%;
    width: 23%;
    border: dashed 1px crimson;
}

.card img{
    align-self: center;
    width:80%;
    height:50%;
}

.card h2{
    font-family:monospace;
    color: #19899F;
    text-align: center;
    font-size: 25px;
}

.card p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    color:#2C3E50;
    text-align: center;
    font-weight: bold;
    padding: 0px 10px;
} 

/*Horario*/

#schedule{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px gray;
    background-color: gainsboro;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.day{
    padding :10px;
    font-family: monospace;
    font-size: 24px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.day:nth-of-type(1) {background-color: rgba(25,137,159, 1) ;}
.day:nth-of-type(2) {background-color: #B7950B  ;}
.day:nth-of-type(3) {background-color:rgba(25,137,159, 1) ;}
.day:nth-of-type(4) {background-color: #B7950B   ;}
.day:nth-of-type(5) {background-color:rgba(25,137,159, 1)  ;}

.session{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color:#d3b5e0  ;
    border: dashed 1px crimson;
    font-size: 15px;
}

#session-1{
    grid-column: 1/2;
    grid-row: 3 / 4;
}

#session-2{
    grid-column: 2/3;
    grid-row: 2 / span 2;

}

#session-3{
    grid-column: 3/4;
    grid-row: 3 / 4; 
}

#session-4{
    grid-column: 4/5;
    grid-row: 2 / span 2;
}

#session-5{
    grid-column: 5/6;
    grid-row: 4 / span 2;
}

#session-6{
    grid-column: 1/2;
    grid-row: 7 / span 2;
}

#session-7{
    grid-column: 2/3;
    grid-row: 6 / span 2;
}

#session-8{
    grid-column: 3/4;
    grid-row: 7 / 8;
}

#session-9{
    grid-column: 3/4;
    grid-row: 8 / 9;
}

#session-10{
    grid-column: 4/5;
    grid-row: 6 / span 2;
}

#session-11{
    grid-column: 5/6;
    grid-row: 7 / 8;
} 

/*--Diseño responsivo--*/

/* ##Device = Desktops
   ##Screen = 1281px to higher resolution desktops */

@media (min-width: 1281px) {

}

/* ##Device = Laptops, Desktops
   ##Screen = B/w 1025px to 1280px */

@media (min-width: 1025px) and (max-width: 1280px) {
  
    #image span:nth-of-type(1){
        font-size: 35px;
    }

    #image span:nth-of-type(2){
        font-size: 25px;
    }

    .parrafos-home{
        font-size: 20px;
    }

    .card h2{
        font-size: 17px;
    }

    .card p{
        font-size: 14px;
    }

    #schedule{
        width: 80%;
    }   

    .day{
        font-size: 15px;
    }

    .session{
        font-size: 14px;
    }
}

/* ##Device = Tablets, Ipads (portrait)
   ##Screen = B/w 768px to 1024px */

@media (min-width: 768px) and (max-width: 1024px) {

    .parrafos-home{
        font-size: 18px;
    }

    #image span:nth-of-type(1){
        font-size: 32px;
    }

    #image span:nth-of-type(2){
        font-size: 20px;
    }

    #cardsContainer{
        flex-wrap:  wrap;
    }

    .card{
        width: 45%;
    }

    .card h2{
        font-size: 18px;
    }

    .card p{
        font-size: 15px;
    }

    .card img{
        width:75%;
    }

    #schedule{
        column-gap: 0px;
        row-gap: 0px;
        width: 90%;
    }

    .day{
        font-size: 15px;
    }

    .session{
        font-size: 13px;
        border: dashed 1px gray;
    }

}

  /* ##Device = Low Resolution Tablets, Mobiles (Landscape)
     ##Screen = B/w 481px to 767px */

@media (min-width: 481px) and (max-width: 767px) {

    #image{
        height: 250px;
    }

    #image span:nth-of-type(1){
        font-size: 22px;
    }

    #image span:nth-of-type(2){
        font-size: 15px;
    }

    nav {
        flex-flow: column wrap;
    }

    .parrafos-home{
        font-size: 16px;
    }   

    #cardsContainer{
        flex-wrap:  wrap;
    }

    .card{
        width: 90%;
    }

    #schedule{
        column-gap: 0px;
        row-gap: 0px;
        width: 100%;
    }

    .day{
        font-size: 14px;
    }

    .session{
        font-size: 12px;
        border: dashed 1px gray;
    }

    .card img{
        width: 60%;
        height:60%;
    }

    .card h2{
        font-size: 17px;
    }

    .card p{
        font-size: 14px;
    }
}

/* ##Device = Most of the Smartphones Mobiles (Portrait)
   ##Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 480px) {

    nav{
        width: 100%;
        height: 40%;
        flex-flow: column;
    }

    .parrafos-home{
        font-size: 14px;
        padding: 6px;
    } 
    
    #image{
        height: 190px;
    }

    #image span:nth-of-type(1){
        font-size: 14px;
    }

    #image span:nth-of-type(2){
        font-size: 11px;
    }
 
    #cardsContainer{
        flex-wrap:  wrap;
    }

    .card{
        width: 90%;
    }

    #schedule{
        display: none;
    }

    .card h2{
        font-size: 15px;
    }

    .card p{
        font-size: 12px;
    }

}


