
nav{
    background-color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 50px;
    padding: 0px 20px 0 0px;
    display: flex;/*Para que los elementos hijos de nav se comporten de manera flexible*/
    flex-direction:row; /*Organiza los items en fila*/
    justify-content:space-evenly;  /*Justifica el contenido a lo largo del elemento*/
    align-items:center;  /*Alineación vertical de los items*/
}

.parrafos-home{
    color: lightgreen;
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
}

/*Imagen de portada que abarca el 70% de la pantalla usando <img>*/
#logo{
    display: block; /*Para centrar una imagen con margin-left la usamos como bloque (por default es inline)*/
    margin-left: auto;
    margin-right: auto;
    width: 70%;
} 
  
/*Imagen de portada que abarca el 70% de la pantalla usando  background-image en css*/
#image{
    background-image: url("../images/yoga.jpg");
    background-repeat: no-repeat;
    background-position-x:center center;
    background-size:100% 100%;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 70%;
    display: flex;
    justify-content:center; /*Alinea horizontal*/
    align-items: center;  /*Alinea vertical*/

}  

#fixed{
    position: fixed; /*Posiciona el elemento con respecto al navegador*/
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Centra el elemento en el navegador*/
}

#sticky{
    position: sticky; /*El elemento se queda inmóvil cuando desplazamos el scroll. Se queda inmovil en la posición de top y left*/
    top:30px;
    left: 200px ;
}

/*Cards*/

#cards{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content:space-around;
    width: 95%;
}

.card{
  /*flex-grow: 1;*/
  margin: 10px;
  background-color:	#F5F5F5;
  /*flex-basis:25%;*/
  display: flex;
  flex-direction: column;
  height: 320px;

  width: 23%;
}

.card img{
    align-self: center;
}

.card h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4B8A08;
    text-align: center;
    font-size: 20px;
}

.card p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    color:purple;
    text-align: center;
    font-weight: bold;
} 

/*Horario*/

#horario{
    display: grid;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    border: solid 1px black;
    background-color: gainsboro;
}

.day{
    padding :10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.day:nth-of-type(1) {background-color: #5499C7 ;}
.day:nth-of-type(2) {background-color: #F1C40F  ;}
.day:nth-of-type(3) {background-color: #AF7AC5 ;}
.day:nth-of-type(4) {background-color: #27AE60 ;}
.day:nth-of-type(5) {background-color: palevioletred ;}

.clase{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color:yellowgreen;
    border: dashed 2px gainsboro;
}

.clase-1{
    grid-column: 1/2;
    grid-row: 3 / 4;
}

.clase-2{
    grid-column: 2/3;
    grid-row: 2 / span 2;

}

.clase-3{
    grid-column: 3/4;
    grid-row: 3 / 4;
}

.clase-4{
    grid-column: 4/5;
    grid-row: 2 / span 2;
}

.clase-5{
    grid-column: 5/6;
    grid-row: 4 / span 2;
}

.clase-6{
    grid-column: 1/2;
    grid-row: 7 / span 2;
}

.clase-7{
    grid-column: 2/3;
    grid-row: 6 / span 2;
}

.clase-8{
    grid-column: 3/4;
    grid-row: 7 / 8;
}

.clase-9{
    grid-column: 3/4;
    grid-row: 8 / 9;
}

.clase-10{
    grid-column: 4/5;
    grid-row: 6 / span 2;
}

.clase-11{
    grid-column: 5/6;
    grid-row: 7 / 8;
}


/*--Diseño responsivo--*/

/* ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops */
@media (min-width: 1281px) {
    body{
        background-color: greenyellow;
    }
  }

  @media (min-width: 1025px) and (max-width: 1280px) {
  
    body{
        background-color: blueviolet;
    }

    #image h1{
        font-size: 26px;
     }

    .card h2{
        font-size: 17px;
    }

    .card p{
        font-size: 14px;
    }

    #horario{
        width: 80%;
    }   

    .day{
        font-size: 15px;
    }

    .clase{
        font-size: 14px;
    }
  }

/* ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {

    body{
        background-color: red;
    }

      .parrafos-home{
          font-size: 16px;
      }

      #image h1{
        font-size: 25px;
     }

    #cards{
        flex-wrap:  wrap;
      }

      .card{
          width: 45%;
      }

      .card h2{
        font-size: 18px;
    }

    .card p{
        font-size: 15px;
    }

      #horario{
        column-gap: 0px;
        row-gap: 0px;
      }

      #horario{
        width: 90%;
    }

    .day{
        font-size: 15px;
    }

    .clase{
    font-size: 13px;
    }

  }

  /* ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px */
  @media (min-width: 481px) and (max-width: 767px) {
    body{
        background-color: yellow;
    }

    #image{
        height: 250px;
    }

    #image h1{
       font-size: 20px;
    }

    nav {
        flex-flow: column wrap;
      }

      .parrafos-home{
          font-size: 15px;
      }   

      #cards{
        flex-wrap:  wrap;
      }

      .card{
          width: 90%;
      }


      #horario{
        column-gap: 0px;
        row-gap: 0px;
        width: 100%;
      }

      .day{
        font-size: 14px;
    }

    .clase{
    font-size: 12px;
    }

    .card img{
        height:60%;
    }

    .card h2{
        font-size: 17px;
    }

    .card p{
        font-size: 14px;
    }
  }


  @media (min-width: 320px) and (max-width: 480px) {
  
    body{
        background-color: pink;
    }

    nav{
        width: 100%;
        height: 40%;
        flex-flow: column;
    }

    
    .parrafos-home{
        font-size: 16px;
        padding: 6px;
    } 
    
    #image{
        height: 190px;
    }

    #image h1{
        font-size: 17px;
     }

     
     #cards{
        flex-wrap:  wrap;
      }

      .card{
          width: 90%;
      }

      #horario{
        display: none;
      }


      .card h2{
        font-size: 15px;
    }

    .card p{
        font-size: 12px;
    }

  }


