nav{
    background-color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 70px;
    padding: 0px 20px 0 0px;
    display: flex;/*Para que los elementos hijos de nav se comporten de manera flexible*/
    flex-direction:row; /*Organiza los items en fila*/
    justify-content:space-evenly;  /*Justifica el contenido a lo largo del elemento*/
    align-items:center;  /*Alineación vertical de los items*/
}

/*El menú se reacomoda en columnas si la pantalla es pequeña*/
@media all and (max-width: 770px) {
    nav {
      flex-flow: column wrap;
    }
  }

.parrafos-home{
    color: lightgreen;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

/*Imagen de portada que abarca el 70% de la pantalla usando <img>*/
#logo{
    display: block; /*Para centrar una imagen con margin-left la usamos como bloque (por default es inline)*/
    margin-left: auto;
    margin-right: auto;
    width: 70%;
} 
  
/*Imagen de portada que abarca el 70% de la pantalla usando  background-image en css*/
#image{
    background-image: url("../images/yoga.jpg");
    background-repeat: no-repeat;
    background-position-x:center center;
    background-size:100% 100%;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center; 
}  

#fixed{
    position: fixed; /*Posiciona el elemento con respecto al navegador*/
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Centra el elemento en el navegador*/
}

#sticky{
    position: sticky; /*El elemento se queda inmóvil cuando desplazamos el scroll. Se queda inmovil en la posición de top y left*/
    top:30px;
    left: 200px ;
}

/*Cards*/

#cards{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content:space-around;
    width: 95%;
}

.card{
  flex-grow: 1;
  margin: 10px;
  background-color:	#F5F5F5;
  flex-basis: 25%; 
  display: flex;
  flex-direction: column;
}

.card img{
    align-self: center;
}

.card h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4B8A08;
    text-align: center;
    font-size: 14px;
}

.card p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color:purple;
    text-align: center;
} 
