nav {
  background-color: #2C3E50;
  font-family: monospace;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 20px 0 0px;
}
  
.parrafos-home {
  color: white;
  text-decoration: none;
  font-size: 21px;
}

.parrafos-home:hover{
  color:#f7efcf;
  text-decoration: none;
  background-color: #2C3E50;
}
  
.badge {
  display: inline-block;
  padding: 5px 17px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  background: #9e8009;
  color: #fefefe;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dropdown-item{
  background-color: #2C3E50;
  font-family: monospace;
  color: white;
  font-size: 21px;
}

.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
.MultiCarousel .MultiCarousel-inner .item { float: left;}
.MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }

@media (min-width: 1025px) and (max-width: 1280px) {
  .parrafos-home {
    font-size: 20px;
  }

  .badge {
    font-size: 20px;
  }
}

footer{
  border-top: dashed; 
  border-top-width: 1px; 
  border-top-color:teal;
  margin-top: 20px;
}

footer section{
  background-color: rgba(0, 0, 0, 0.05);
  color:rgb(47, 46, 46);
}
  
@media (min-width: 768px) and (max-width: 1024px) {
  .parrafos-home {
    font-size: 18px;
  }

  .badge {
    font-size: 16px;
  }
}
  
@media (min-width: 481px) and (max-width: 767px) {
  nav {
    flex-flow: column wrap;
  }
  
  .parrafos-home {
    font-size: 16px;
  }

  .badge {
    font-size: 14px;
  }
  
}
  
@media (min-width: 320px) and (max-width: 480px) {
  nav {
    width: 100%;
    height: 40%;
    flex-flow: column;
  }
  
  .parrafos-home {
    font-size: 15px;
    padding: 6px;
  }

  .badge {
    font-size: 13px;
  }
}