body{
    background-color: gainsboro;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

#plansContainer{
    margin-top: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border:1px solid;
    border: #19899F solid 1px; 
    padding: 20px;
    background-color: white;
}

.planContainer{
    margin-bottom: 40px;
    border-bottom: 1px solid #127e94;
    padding-bottom: 20px;
}

.planTitleContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 20px;
}

.planTitle{
    color:  #156b7c;
    font-weight: bold;
    font-size: 23px;
    margin-top: 10px;
}

.planPrice{
    display: inline-flex;
    align-items: center;
    color:#BA41A8;
    font-weight: bold;
    font-size: 18px;
}

.planDetail{
   font-size: 18px;
   font-weight: bold;
   color:  #967a0c; 
   text-decoration: underline;
   border: none;
   background-color: white;
   cursor: pointer;
   margin-top: 10px;
}

.planDetail:hover{
    color:#127185;
}

.planDescription{
    font-size: 18px;
}

#planDetailContainer{
    display: none;
    margin-top: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border:1px solid;
    border: #19899F solid 1px; 
    padding: 20px;
    background-color: white;
}

.scheduleTitle{
    font-family: verdana;
    font-size: 19px;
    font-weight: bold;
    margin-top: 50px;
    color: teal;
    text-align: center;
}

.containerSchedule{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto; 
    border-bottom: 1px dashed #19899F ;
    text-align: center;
    background-color: rgb(220, 220, 220, 0.1);
    grid-row-gap: 20px;
    align-content:flex-start;
    font-size: 17px;
}

.header{
    background-color: #188499;
    color:  white;
    border-bottom: 1px dashed #19899F ;
    border-top: 1px dashed #19899F ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 30px;
    text-align: center;

}

.session{
    color: #19899F;
    font-weight: bold;
}

.instructor{
    color: #19899F;
    font-weight: bold;
}

.day{
    font-weight: bold;
    color:rgb(46, 45, 45);
}

.hour{
    font-weight: bold;
    color:rgb(46, 45, 45);
}

.return{
    font-size: 18px;
    color: rgb(96, 96, 236);
    font-family: verdana;
    text-decoration: underline;
}


